header.body-header {
  width: 100%;
  background: #000;
  height: 50px;
  line-height: 50px;

  nav {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;

    a {
      text-decoration: none;
      color: #eee;
      text-transform: uppercase;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;

      &.active {
        font-weight: bold;
        color: #fff;
        border-bottom: 2px solid #000;
        height: 48px;
      }
      &:hover {
        color: #000;
      }
      &.right {
        margin-left: auto;
      }
    }
  }
}
